{
  "presets": [
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-top-level-await",
    "@babel/plugin-transform-modules-commonjs"
  ]
}
